@import "./grid";
@import "./animation";

.remote-section {
  background-color: #614732;
  background-image: url("../assets/backgrounds/remote-bg.svg");
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 100svh;
  position: relative;

  @include device("s") {
    background-image: url("../assets/backgrounds/remote-s.svg");
  }

  .remote-content {
    color: #f2d8c2;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include device("m") {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 0;

      .remote-right {
        max-height: max-content;
        width: 100%;
        padding: 0;

        img {
          background-color: #f2d8c2;
          border-radius: 1rem;
          width: 45rem;
          object-fit: cover;
        }
      }

      .remote-left {
        max-height: max-content;
        width: 100%;
        padding: 0;
      }
    }

    @include device("s") {
      display: flex;
      flex-direction: column-reverse;

      .remote-right {
        max-height: max-content;
        max-width: max-content;

        img {
          max-width: 35rem;
          background-color: #f2d8c2;
          border-radius: 1rem;
        }
      }

      .remote-left {
        max-height: max-content;
        width: 100%;
        padding: 0;

        h1 {
          font-size: 2rem !important;
        }
      }
    }

    .remote-left {
      padding: 5rem 0;
      min-height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry 200px;

      .btn-cta {
        text-decoration: none;
        color: #614732;
        background-color: #f2d8c2;
        max-width: 35rem;
        height: 5rem;
        padding: 0 1rem;
        font-weight: 700;
        margin-top: 1rem;

        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
        width: 100%;
      }

      p {
        font-size: 1.6rem;
        text-align: justify;
      }

      ul {
        width: 100%;
        list-style: none;
        gap: 1rem;
        font-size: 1.6rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 1.8rem;
          }
        }
      }
    }

    .remote-right {
      padding-top: 1rem;
      min-height: max-content;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        max-height: 65rem;
        object-fit: cover;

        scale: 0.8;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry 200px;
      }
    }
  }
}
